.title { 
    margin-bottom: 1.5rem;
    color: white;
}

.formGroup { 
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card { 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 150px;
}

.cardBody { 
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
    background-color: #333333
}

.input { 
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.checkbox { 
    margin-right: 0.5rem;
}

.checkboxGroup { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.checkboxLabel { 
    font-size: 0.9rem;
    color: white;
}

.loginButton { 
    width: 100%;
    margin-top: 2rem;
}

.checkboxAndLink { 
    display: flex;
    gap: 9rem;
}

.errorMessage { 
    color: red;
}